body{
    overflow-x: hidden;
}

/* Header component*/

/*Logo*/
#logoImg{
    height: 50px;
    width: 43px;
    margin-right: 9.92px;
}

#containerLogo{
    margin-left: 44px;
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
}


#titleLogo{


    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin-block-end: 0em;

}

#subtitleLogo{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.31px;
    letter-spacing: 0em;
    text-align: left;
}

/* info@boxfish.studio */

#mailItem{
    margin-left: 47.8px;
    margin-top: 34px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* ACCENT */

    color: #4081FF;
}

#tlfItem{
    margin-left: 21.6px;
    margin-top: 34px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14.52px;
    /* ACCENT */

    color: #4081FF;
}

#headerContainer{
    border: 1px solid #E5E5E5;
    display: flex;
    position: absolute;
    width: 100%;
    height: 84px;
    left: 0px;
    top: 0px;

}

#menuContainer{
    display: flex;
    position: absolute;
    right: 0px;

}

#menuItem{
    position: relative;
    margin-top: 33px;
    margin-right: 43.2px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    /* ACCENT */

    color: #4081FF;
}

#heroContainer{
    /* HERO */
    /*background-color: green;*/
    position: absolute;
    left: 0px;
    top: 82px;
    width: 100%;
    height: 789px;
}

#heroWrapper{
    position: absolute;
    max-width: 100%;
    height: 683px;
    left: 43px;
    top: 56px;
    right: 42px;
    bottom: 47px;
    /*background-color: coral;*/
}

#slogan{
    /*position: absolute;*/
    width: 52.1%;
    height: 88px;
    margin-top: 212px;
    /*background-color: aqua;*/

}

.sloganText{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
    /* identical to box height */


    /* TEXT */

    color: #333333;
}
.red{
    color: rgb(255, 92, 92);
}

.passion{
    margin-right: 45px;

}
#sloganSubtext{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* SUBTEXT */

    color: #999999;
}

#mainImage{

    position: absolute;
    width: 679px;
    height: 427px;
    right: 0px;
    top: 0px;
    /*background-color: red;*/
}

#customerContainer{
    position: absolute;
    bottom: 0px;
    /*background-color: yellow;*/
    width: 71.2%;
    height: 40px;
    left: 14.565%;
    right: 17.49%;
    display: flex;
    justify-content: space-between;
    /*background: #B0AFAF;*/
    z-index: 1;
}

#customerLogo{
    /*background-color: purple;*/
    width: 40px;
    height: 40px;
    opacity: 0.3;
}