
html,body{
    background: var(--bground-color);
    overflow-x: hidden;

}

/* Header component*/
#headerContainer{
    border: var(--border-color);
    display: flex;
    position: absolute;
    width: 100%;
    height: 84px;
    left: 0;
    top: 0;
}

/*Logo*/
#logoImg{
    height: 50px;
    width: 43px;
    margin-right: 9.92px;
}

.containerLogo{
    margin-left: 44px;
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
    cursor: pointer;
}


#titleLogo{
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0;
    text-align: left;
    margin-block-end: 0;
    color: var(--logo-text-color);
}

#subtitleLogo{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.31px;
    letter-spacing: 0;
    text-align: left;
    color: var(--logo-text-color);
}

//Contact Info Components

/* info@boxfish.studio */

#mailItem{
    margin-left: 47.8px;
    margin-top: 34px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #4081FF;
}

#tlfItem{
    margin-left: 21.6px;
    margin-top: 34px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14.52px;
    color: #4081FF;
}

//Menu component

#menuContainer{
    display: flex;
    position: absolute;
    right: 0;
}

.menuItem{
    position: relative;
    cursor: pointer;
    margin-top: 33px;
    margin-right: 43.2px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4081FF;
}

//Body Component
#heroContainer{
    position: absolute;
    left: 0;
    top: 82px;
    width: 100%;
    height: 789px;
}

#heroWrapper{
    position: absolute;
    max-width: 100%;
    height: 683px;
    left: 43px;
    top: 56px;
    right: 42px;
    bottom: 47px;
    display: flex;
    justify-content: space-between;

}

//Slogan
#slogan{
    max-width: 100%;
    height: 88px;
    margin-top: 212px;
}

.sloganText{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
    color: var(--slogan-text-color);
}

//Words "love" and "passion"
.red{
    color: rgb(255, 92, 92);
}

#sloganSubtext{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
}

// Bike image
.mainImage{
    width: 649px;
    height: 427px;
    top: 0;
    margin-right: 0;
    align-self: flex-start;
    justify-content: right;
}

.image{
    width: 679px;
    height: 427px;
}


//Footer component (customer logos)
#customerContainer{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    height: 40px;
    left: 14.565%;
    right: 17.49%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

#customerLogo{
    height: 40px;
    opacity: 0.3;
    filter: var(--customer-logo-filter);
}

// Switch button (dark/light mode)
@import "toggleDarkMode";

// Mobile components must not be visible in the Desktop version
.mobile{
    display: none;
}

#extraHeader{
    display: none;
}

.footerMobileContainer{
    display: none;
}

// Mobile stylesheet
@import "mobile";





