body{
    overflow-x: hidden;
}

/* Header component*/

/*Logo*/
#logoImg{
    height: 50px;
    width: 43px;
    margin-right: 9.92px;
}

.containerLogo{
    margin-left: 44px;
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
}


#titleLogo{


    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin-block-end: 0em;

}

#subtitleLogo{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.31px;
    letter-spacing: 0em;
    text-align: left;
}

/* info@boxfish.studio */

#mailItem{
    margin-left: 47.8px;
    margin-top: 34px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* ACCENT */

    color: #4081FF;
}

#tlfItem{
    margin-left: 21.6px;
    margin-top: 34px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14.52px;
    /* ACCENT */

    color: #4081FF;
}

#headerContainer{
    border: 1px solid #E5E5E5;
    display: flex;
    position: absolute;
    width: 100%;
    height: 84px;
    left: 0px;
    top: 0px;

}

#menuContainer{
    display: flex;
    position: absolute;
    right: 0px;

}

.menuItem{
    position: relative;
    margin-top: 33px;
    margin-right: 43.2px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    /* ACCENT */

    color: #4081FF;
}

#heroContainer{
    /* HERO */
    /*background-color: green;*/
    position: absolute;
    left: 0px;
    top: 82px;
    width: 100%;
    height: 789px;
}

#heroWrapper{
    position: absolute;
    max-width: 100%;
    height: 683px;
    left: 43px;
    top: 56px;
    right: 42px;
    bottom: 47px;

    background-color: coral;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

#slogan{
    /*position: absolute;*/
    /*width: 240px;*/
    max-width: 100%;
    height: 88px;
    margin-top: 212px;
    /*background-color: aqua;*/

}

.sloganText{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
    /* identical to box height */


    /* TEXT */

    color: #333333;
}
.red{
    color: rgb(255, 92, 92);
}



#sloganSubtext{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* SUBTEXT */

    color: #999999;
}

.mainImage{

    /*position: absolute;*/
    width: 649px;
    height: 427px;
    top: 0px;
    margin-right: 0px;
    /*left:75px;*/
    background-color: red;
    align-self: flex-start;
    justify-content: right;

}

#customerContainer{
    position: absolute;
    bottom: 0px;
    /*background-color: yellow;*/
    max-width: 100%;
    height: 40px;
    left: 14.565%;
    right: 17.49%;

    display: flex;
    justify-content: space-between;

    /*background: #B0AFAF;*/
    align-self: center;
    z-index: 1;
}

#customerLogo{
    /*background-color: purple;*/
    /*width: 40px;*/
    height: 40px;
    opacity: 0.3;
}

.mobile{
    display: none;
}

#extraHeader{
    display: none;
}

.image{
    width: 679px;
    height: 427px;
}

@media (max-width: 970px){


    .containerLogo{
        margin-left: 20px;
        margin-top: 22px;
        margin-bottom: 16.5px;
    }

    #mailItem{
        display:none;
    }
    #tlfItem{
        display: none;
    }
    .menuItem{
        display: none;
        margin-right: 20px;
        margin-top: 36.52px;
    }
    .mobile{
        display: inline-block;
    }

    .burgerMenu{
        width: 16px;
        height: 9.06px;
        margin-top: 40.21px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }

    .burgerLine{
        background-color: #4081FF;
        width: 16px;
        height: 1.5px;
    }

    #headerContainer{
        height: 88.5px;

    }

    #extraHeader{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 29.5px;
        border-bottom: 1px solid #E5E5E5;
        margin-top: 88.5px;
    }
    #contactMobile{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */


        /* ACCENT */

        color: #4081FF;
        margin-left: 16px;
        margin-right: 16px;
    }

    #slogan{
        /*position: absolute;*/
        /*width: 240px;*/
        max-width: 100%;
        height: auto;
        left: 0px;
        right: 0px;
        margin-top: 72px;
        /*background-color: aqua;*/
    }

    .sloganTextContainer{
        margin-right: 96px;
    }

    .sloganText{
        font-size: 24px;
    }

    #sloganSubtext{
        margin-right: 20px;
    }
    #heroWrapper{
        left: 20px;
        right: 20px;
        flex-wrap: wrap;
    }

    #heroContainer{
        top:62px;
    }
    .mainImage{
        /*background-color: yellow;*/
        width: 332px;
        height: 209px;

        margin-top: 62px;
        margin-right: auto;
        margin-left: auto;

    }

    .image{
        width: 332px;
        height: 209px;
    }


}